<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Registration </title>
</head>
<body>

<h2 align="center"> Make new account</h2>

<form action="/user/register" method="post">
    <fieldset>
        <table>
            <tr>
                <td> New username: </td>
                <td><input type="text" placeholder="Enter Username" name="username" required></td>
            </tr>
            <tr>
                <td> New password: </td>
                <td><input type="text" placeholder="Enter Password" name="password" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" name="Register" value="Register"> Register </button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>

</body>
</html>